 body{
  background-color:#171717;
  /* #32292F */
}

a{
  color:#FDF5BF;
  text-decoration: none;
}
a:hover{
  color:#DDC3D0;
  text-decoration: underline;
}

blz-nav a[is=logo]{
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 38, 38);
  text-shadow: 1px 1px rgba(255,255,255,0.4);
}

blz-nav a[is=logo]:hover{
  color:#fff;
  text-shadow: 1px 1px rgba(0,0,255,0.4);
}

blz-grid span, blz-hero h1, blz-hero h2{
  color:#fff;
}

label{
  color:#fff;
}

blz-form input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=tel]:hover{
  border:1px solid rgba(255,38,38,0.4);
}

blz-form input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus{
  border:1px solid rgb(255,38,38);
}

blz-form input[type=button]:hover, blz-form input[type=submit]:hover, button:hover{
  background:rgb(255,38,38);
  color:#fff;
}

main{
  background:#fff;
  max-width:900px;
  width:100%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
}

footer{
  text-align:center;
}