 body{
  background-color:#171717;
  /* #32292F */
}

a{
  color:#FDF5BF;
}
a:hover{
  color:#DDC3D0;
}

blz-nav a[is=logo]{
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 38, 38);
  text-shadow: 1px 1px rgba(255,255,255,0.4);
}